* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://static.ageofempires.com/aoe/wp-content/themes/msgpwebteam/dist/images/background_paper_repeat_9e537d85.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;;
    background-attachment: fixed;           
}

.contenedor {
    width:100%;
    max-width:1400px;
    margin:0 auto;
    overflow: hidden;
}

main {
    width: 100%;
    padding: 100%;
    padding: 80px;
    float: left;
    box-sizing: border-box;
}

.main img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin:auto;
}

