.container{
  height: 650px;
  overflow: auto;
  border: 1em solid transparent;
  background: linear-gradient(white, white) padding-box,
            #221404
            border-box 0 / cover;  
  position: relative;
}
  
  table {
    width: auto;
  }
  
  th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  }
  
  .mat-row {
  height: 20px !important;
  }
  
  .mat-header-row {
  height: 20px !important;
  width: 40px !important;
  }
  
  .mat-header-cell {
  text-align: center !important;
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap!important;
  }
  
  .mat-cell {
  text-align: center !important;
  width: 70px !important;
  padding-left: 20px;
  white-space: auto !important;
  padding-left: 20px;
  padding-right: 20px;
  display: table-cell;
  height: 20px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 2px solid rgba(0, 0, 0, 0.12);
  border-right: 2px solid rgba(0, 0, 0, 0.12);
  }