<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
    placeholder="Filter">
</mat-form-field>
<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table-container">
    
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container> class="mat-elevation-z8"

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> 
                <p> <br/> {{element.description}} </p> 
            </td>
        </ng-container>

        <ng-container matColumnDef="expansion">
            <th mat-header-cell *matHeaderCellDef> Expansión </th>
            <td mat-cell *matCellDef="let element"> {{element.expansion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Edad </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
        
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Costo </th>
            <td mat-cell *matCellDef="let element">
                <p> 
                    <br/> {{'Madera: ' + (element.cost.Wood || '0')}} 
                    <br/> {{'Comida: ' + (element.cost.Food || '0')}} 
                    <br/> {{'Oro: ' + (element.cost.Gold || '0')}}
                    <br/> {{'Info: ' + (element.cost.info || '0')}}
                </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="build_time">
            <th mat-header-cell *matHeaderCellDef> Tiempo de Construcción </th>
            <td mat-cell *matCellDef="let element"> {{element.build_time}} </td>
        </ng-container>

        <ng-container matColumnDef="reload_time">
            <th mat-header-cell *matHeaderCellDef> Tiempo de Recarga </th>
            <td mat-cell *matCellDef="let element"> {{element.reload_time}} </td>
        </ng-container>
        
        <ng-container matColumnDef="attack_delay">
            <th mat-header-cell *matHeaderCellDef> Retraso de Ataque</th>
            <td mat-cell *matCellDef="let element"> {{element.attack_delay}} </td>
        </ng-container>
        
        <ng-container matColumnDef="movement_rate">
            <th mat-header-cell *matHeaderCellDef> Velocidad de Movimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.movement_rate}} </td>
        </ng-container>

        <ng-container matColumnDef="line_of_sight">
            <th mat-header-cell *matHeaderCellDef> Sitio de la Linea </th>
            <td mat-cell *matCellDef="let element"> {{element.line_of_sight}} </td>
        </ng-container>

        <ng-container matColumnDef="hit_points">
            <th mat-header-cell *matHeaderCellDef> Puntos de Golpe </th>
            <td mat-cell *matCellDef="let element"> {{element.hit_points}} </td>
        </ng-container>

        <ng-container matColumnDef="range">
            <th mat-header-cell *matHeaderCellDef> Rango </th>
            <td mat-cell *matCellDef="let element"> {{element.range}} </td>
        </ng-container>
        
        <ng-container matColumnDef="attack">
            <th mat-header-cell *matHeaderCellDef> Ataque</th>
            <td mat-cell *matCellDef="let element"> {{element.attack}} </td>
        </ng-container>
        
        <ng-container matColumnDef="armor">
            <th mat-header-cell *matHeaderCellDef> Armadura </th>
            <td mat-cell *matCellDef="let element"> {{element.armor}} </td>
        </ng-container>

        <ng-container matColumnDef="accuracy">
            <th mat-header-cell *matHeaderCellDef> Exactitud</th>
            <td mat-cell *matCellDef="let element"> {{element.accuracy}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
</div>