<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
    placeholder="Filter">
</mat-form-field>
<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table-container">
    
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        
        <ng-container matColumnDef="expansion">
            <th mat-header-cell *matHeaderCellDef> Expansión </th>
            <td mat-cell *matCellDef="let element"> {{element.expansion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Era </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
        
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Costo </th>
            <td mat-cell *matCellDef="let element">
                <p>
                    <br/> {{'Madera:' + (element.cost.Wood || '0')}}
                    <br/> {{'Comida: ' + (element.cost.Food || '0')}}
                    <br/> {{'Oro: ' + (element.cost.Gold || '0')}}
                    <br> {{'Piedra: ' + (element.cost.Stone || '0')}}
                </p>                
            </td>
        </ng-container>
        
        <ng-container matColumnDef="build_time">
            <th mat-header-cell *matHeaderCellDef> Tiempo de Construcción</th>
            <td mat-cell *matCellDef="let element"> {{element.build_time}} </td>
        </ng-container>
        
        <ng-container matColumnDef="develops_in">
            <th mat-header-cell *matHeaderCellDef> Se desarrolla en</th>
            <td mat-cell *matCellDef="let element"> 
                <button  mat-button color="primary" (click)="openDialog(element.develops_in)">
                    view
                </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>