<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/index"><img src="https://static.ageofempires.com/aoe/wp-content/themes/msgpwebteam/dist/images/age1-footer-logo_fecedc4d.png" style="max-width:350px; margin-top:-7px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link active" routerLink="/index">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" routerLink="/index/civilizations">Civilizations</a>
              <a class="nav-item nav-link" routerLink="/index/units">Units</a>
              <a class="nav-item nav-link" routerLink="/index/structures">Structures</a>
              <a class="nav-item nav-link" routerLink="/index/technologies">Technologies</a>
          </div>
      </div>
  </nav>
  