<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
    placeholder="Filter">
</mat-form-field>
<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table-container">
          
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="expansion">
            <th mat-header-cell *matHeaderCellDef> Expansion </th>
            <td mat-cell *matCellDef="let element"> {{element.expansion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Era</th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
        
        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Costo </th>
            <td mat-cell *matCellDef="let element">
                <p>
                    <br/> {{'Madera:' + (element.cost.Wood || ' 0')}}
                    <br/> {{'Oro: ' + (element.cost.Gold || '0')}}
                    <br/> {{'Piedra: ' + (element.cost.Stone || '0')}}
                </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="build_time">
            <th mat-header-cell *matHeaderCellDef> Tiempo de Construcción </th>
            <td mat-cell *matCellDef="let element"> {{element.build_time}} </td>
        </ng-container>
    
        <ng-container matColumnDef="hit_points">
            <th mat-header-cell *matHeaderCellDef> Puntos de Golpe </th>
            <td mat-cell *matCellDef="let element"> {{element.hit_points}} </td>
        </ng-container>
        
        <ng-container matColumnDef="line_of_sight">
            <th mat-header-cell *matHeaderCellDef> Línea de Visión</th>
            <td mat-cell *matCellDef="let element"> {{element.line_of_sight}} </td>
        </ng-container>
        
        <ng-container matColumnDef="armor">
            <th mat-header-cell *matHeaderCellDef> Armadura </th>
            <td mat-cell *matCellDef="let element"> {{element.armor}} </td>
        </ng-container>
        
        <ng-container matColumnDef="special">
            <th mat-header-cell *matHeaderCellDef> Especial</th>
            <td mat-cell *matCellDef="let element"> 
                <p>
                    <br/> {{element.special}}
                </p> 
            </td>
        </ng-container>        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>