html, body {
    background: url(https://images4.alphacoders.com/680/thumb-1920-680252.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#full-screen-background-image {
    z-index: -999;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}