
<app-filter (applyFilter)="applyFilter($event.target.value)"></app-filter>
<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table-container">
        
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="expansion">
            <th mat-header-cell *matHeaderCellDef> Expansion </th>
            <td mat-cell *matCellDef="let element"> {{element.expansion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="army_type">
            <th mat-header-cell *matHeaderCellDef> Tipo de arma </th>
            <td mat-cell *matCellDef="let element"> {{element.army_type}} </td>
        </ng-container>

        <ng-container matColumnDef="unique_unit">
            <th mat-header-cell *matHeaderCellDef> Unidad Única </th>
            <td mat-cell *matCellDef="let element">
                <button  mat-button color="primary" (click)="openDialog(element.unique_unit)">
                    view
                </button>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="team_bonus">
            <th mat-header-cell *matHeaderCellDef> Bono de equipo </th>
            <td mat-cell *matCellDef="let element"> {{element.team_bonus}} </td>
        </ng-container>
        
        <ng-container matColumnDef="civilization_bonus">
            <th mat-header-cell *matHeaderCellDef> Bono de Civilización </th>
            <td mat-cell *matCellDef="let element">
                <p> <br/> {{element.civilization_bonus}}</p>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>