<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
    placeholder="Filter">
</mat-form-field>
<!---(applyFilter)="applyFilter($event.target.value)"
<app-civilizaciones></app-civilizaciones>-->